body, html {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
ul { list-style: none; padding-left: 5px; }
a { color:rgb(35, 35, 238); text-decoration: none;}
.bar {
    background-color: #000000;
    padding:15px;
    border-top: solid 1px #ff0505;
    border-bottom: solid 1px #ff0000;
}
.content {
    max-width: 1440px;
    margin: auto;
    grid-gap: 3rem;
    display: grid;
    gap: 3rem;
    grid-template-areas: "sidebar main anchors";
    grid-template-columns: minmax(0,15rem) minmax(0,2.5fr) minmax(0,15rem);
    padding-left: 1rem;
    padding-right: 10rem;
}

article.main {
    margin-top: 30px;
}

.footer {
    min-height: 100px;
    border-top: solid 1px #cdcdcd;
}
.anchors {
    border-left: solid 1px #cdcdcd;
    padding-left: 15px;
}
.sidebar {
    border-right: solid 1px #cdcdcd;
}
figure {
    text-align: center;
}

#logo {
    display: flex;
    align-items: center;
}

#logo img {
    margin-right: 10px;
}

#logo h2 {
    margin: 0;
}

